  <!-- ------ HEADER ----  -->
  <div class="container-fluid " style="
  padding: 0px;">
<nav class="navbar navbar-expand-md  " style="background-color: #E9E9E9;padding: 0px;">
  <div class="container-fluid row">
    <div class="col-3"> <a href="./index.html" class="navbar-brand" style="padding:0px"><img src="../../../assets/img/logo-shop-dien-thoai-7.jpeg" class="w-100"></a></div>
    <div class="col-7 ">
      <h1 class=" text-center" style="color: #F37A14; font-size: 50px;">
        ĐƠN HÀNG CỦA BẠN 
      </h1>
    </div>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-1 ">
      
    </div>
    <div class="col-1" style="padding: 0px;">
      <div>  <img src="../../../assets/img/Asset_2.png" alt="" class="w-75"></div>
    </div>
   
  </div>
</nav>
</div>