

<app-header-checkout></app-header-checkout>
<div class="bg-warning" ng-include="'./View/navbar.html'"></div>
<div>
    <div class="row" style="padding:3% 8%">
        <div class="col-7">
            <div class="custommer"></div>
            <h2 class="mb-3">THÔNG TIN GIAO HÀNG</h2>
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate=""
                id="customer">
                <div>
                    <label>Họ và Tên </label>
                    <input formControlName="fullName" type="text" class="form-control" placeholder="Họ tên của bạn"
                        name="txtName" >
                    <!-- Kiểm tra lỗi -->
                    <div *ngIf="(customerForm.get('fullName').dirty || isSubmit) && customerForm.get('fullName').errors?.required"
                        class="text-danger ">
                        <strong>Vui lòng nhập họ tên !</strong>
                    </div>
                </div>

                <div class="mb-3 mt-3">
                    <label>Số điện thoại </label>
                    <input formControlName="phone" class="form-control" id="phone" placeholder=" Số điện thoại của bạn"
                        name="txtPhone">
                    <!-- Kiểm tra lỗi -->
                    <div *ngIf="(customerForm.get('phone').dirty || isSubmit) && customerForm.get('phone').errors?.required"
                        class="text-danger ">
                        <strong>Vui lòng nhập số điện thoại !</strong>
                    </div>
                    <div *ngIf="(customerForm.get('phone').dirty || isSubmit)&& customerForm.get('phone').errors?.maxlength">
                        <strong style="color:red">Số điện thoại không quá 10 chữ số !</strong>
                    </div>
                    <div *ngIf="(customerForm.get('phone').dirty || isSubmit)&& customerForm.get('phone').errors?.minlength">
                        <strong style="color:red">Số điện thoại từ 8 chữ số !</strong>
                    </div>
                    
                    

                </div>

                <div class="mb-3">
                    <label>Email </label>
                    <input formControlName="mail" type="email" class="form-control" id="email"
                        placeholder="abc@gmail.com" name="txtEmail">
                         <!-- Kiểm tra lỗi -->
                    <div *ngIf="(customerForm.get('mail').dirty || isSubmit) && customerForm.get('mail').errors?.required"
                    class="text-danger ">
                    <strong>Vui lòng nhập Email !</strong>
                </div>
                <div *ngIf="(customerForm.get('mail').dirty || isSubmit)&& customerForm.get('mail').errors?.email">
                    <strong style="color:red">Email không đúng định dạng !</strong>
                </div>

                </div>
                <div class="mb-3 mt-3">
                    <label for="address">Địa chỉ giao hàng</label>
                    <input formControlName="address" type="text" class="form-control" id="address"
                        placeholder="Ví dụ: Số 20, quận 1, TPHCM" name="txtAddress">
                             <!-- Kiểm tra lỗi -->
                    <div *ngIf="(customerForm.get('address').dirty || isSubmit) && customerForm.get('address').errors?.required"
                    class="text-danger ">
                    <strong>Vui lòng nhập địa chỉ !</strong>
                </div>

                </div>



            </form>
            <hr>
            <div class="ship">

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link text-warning" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                    <h4>Chính sách giao nhận </h4>

                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>Đơn hàng nội và ngoại thành TP.HCM:
                                        Thời gian giao hàng là 1-2 ngày sau khi đặt hàng.</li>
                                    <li> Đơn hàng ở các tỉnh thành khác:
                                        Thời gian là 2-3 ngày đối với khu vực trung tâm tỉnh thành phố, 3-7 ngày đối với
                                        khu vực ngoại thành, huyện, xã, thị trấn…

                                        (Không tính thứ bảy, chủ nhật hay các ngày lễ tết)</li>
                                    <li> Thời gian xử lý đơn hàng sẽ được tính từ khi nhận được thanh toán hoàn tất của
                                        quý khách</li>
                                    <li>Chi phí giao nhận/vận chuyển hàng hóa áp dụng theo biểu giá của vận
                                        chuyển</li>
                                    <li> Khách hàng sẽ được thông báo chi phí vận chuyển này trước khi giao hàng</li>
                                    <li> Khách hàng chịu trách nhiệm thanh toán phí vận chuyển.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
        <div class="col-5 px-5">
            <div class="" ng-repeat="product in listProduct| filter: {maSP:idProduct}:true ">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="mr-2">SẢN PHẨM BẠN MUA </span>
                </h4>
                <div class="container" style="padding: 0px;">
                    <div class="card  p-1 " style="box-shadow: 0px -1px 19px 1px #a3a7abcc;">

                        <img class="card-img-top mt-2" alt="Card image" style="width:  100%; height: 400px"
                            src="{{product.hinhAnh}}" />
                        <div class="card-body " style="
            padding: 14px">
                            <h3 class="card-title text-center">{{product.tenSP}}</h3>
                            <h5 class="text-danger"> Giảm giá: {{product.giamGia }} % </h5>

                            <h5 class="text-dark"> Dung lượng : {{product.rom }} GB </h5>
                            <h5 class="text-primary ">Giá bán: {{product.giaBan | number}} VND</h5>
                            <p style="text-decoration: line-through;"> {{product.giaBan*100/(100-product.giamGia) |
                                number }}
                                VND</p>

                            <p> <i>Thương hiệu: <span class="text-dark">{{product.thuongHieu}}</span></i> </p>
                            <i> Mã sản phẩm: {{product.maSP}} </i>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="btn btn-warning btn-lg btn-block m-3" id="btnSubmit" type="submit" (click)="onSubmit()">ĐẶT
            HÀNG</button>

    </div>


</div>
<app-footer></app-footer>