<app-header></app-header>
<app-navbar></app-navbar>
<div class="bg-warning" ng-include="'./View/navbar.html'"></div>
<img src="../../../assets/img/ct1.jpg" alt="" class="w-100">
<div class="row " style="padding: 3% 5%;">
    <div class="col-5">
        <img src="../../../assets/img/ct2.jpg" alt="" class="w-100">
    </div>
    <div class="col-7" style="padding: 3%;background-color: #FBF7F4;"> 
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2831736654325!2d106.64522031420412!3d10.789610261902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eb486660df1%3A0x23bbc0d1a7f40054!2zMjcxIFbDtSBUaMOgbmggVHJhbmcsIFBoxrDhu51uZyAxMSwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1636652413435!5m2!1svi!2s"
             style="border:0;" allowfullscreen="" loading="lazy"  class="w-100 h-100"></iframe>
    </div>
</div>
<app-footer></app-footer>