<section id="promotion" class="pt-1 pb-5  "  style="padding: 0 5%;">
 

    <div class="">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7">
                <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/dat-truoc-xiaomi-11-lite-5g-ne-swarovski-so-luong-co-han-1396948" >
                    <img src="../../../assets/img/info1.jpeg" alt style="width: 100%;border-radius: 12px" />
                    <h5 class="my-3">Vậy Xiaomi 11 Lite 5G NE Swarovski có điểm gì nổi bật?
                        Tiết lộ thời gian và bộ quà trị giá gần 3 triệu đồng khi đặt trước Xiaomi 11 Lite 5G NE
                        Swarovski, số lượng giới hạn đấy nha</h5>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/ngay-dep-thang-dep-mach-nho-ban-sam-dien-thoai-hieu-1396549">
                    <div class="row my-1">
                        <div class="col-5">
                            <img src="../../../assets/img/info2.jpeg" alt style="width: 100%;border-radius: 12px" />
                        </div>
                        <div class="col-7">
                            <p>Ngày đẹp tháng đẹp, mách nhỏ bạn sắm điện thoại hiệu giảm toàn tiền triệu, giá rất hời
                                mua là lời</p>
                        </div>
                    </div>
                </a>
                <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/danh-pin-iphone-13-1396749">
                    <div class="row my-1">
                        <div class="col-5">
                            <img src="../../../assets/img/info3.jpeg" alt style="width: 100%;border-radius: 12px" />
                        </div>
                        <div class="col-7">
                            <p>Đánh giá pin iPhone 13: Pin 3.240 mAh hoạt động liên tục hơn 10 tiếng rưỡi, lướt tik tok 1h chỉ tụt có 7%
                            </p>
                        </div>
                    </div>
                </a>
                <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/chot-don-ngay-5-mau-dien-thoai-pin-trau-giam-gia-me-ly-tai-tgdd-1396822">
                    <div class="row my-1">
                        <div class="col-5">
                            <img src="../../../assets/img/info5.jpeg" alt style="width: 100%;border-radius: 12px" />
                        </div>
                        <div class="col-7">
                            <p>Sắm điện thoại pin trâu giảm sâu, quẹo lựa ngay loạt smartphone này, từ bình dân đến cao
                                cấp
                                giá nào cũng có</p>
                        </div>
                    </div>
                </a>
                <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/ro-ri-thiet-ke-vivo-watch-2-1396991">
                    <div class="row">
                        <div class="col-5">
                            <img src="../../../assets/img/info4.jpeg" alt style="width: 100%;border-radius: 12px" />
                        </div>
                        <div class="col-7">
                            <p>Rò rỉ thiết kế đồng hồ thông minh Vivo Watch 2: Vẫn là mặt số hình tròn, dùng màn hình
                                OLED
                            </p>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>
</section>