<app-header></app-header>
<app-navbar></app-navbar>
<a  [routerLink]="['/product',15]" routerLinkActive="active"><img src="../../../assets/img/sale3.jpg" alt="" class="w-100"></a>
<div class="row" style=" padding: 2% 4%;">

    <!-- ------- CAROUSEL-------  -->
    <div class="col-8">
        <a  [routerLink]="['/product',16]" routerLinkActive="active">
            <img src="../../../assets/img/sale4.jpeg" alt="Los Angeles" width="100%" height="450" /></a>
    </div>
    <div class="col-4">
        <div class="">
            <a  [routerLink]="['/product',18]" routerLinkActive="active">
                <img src="../../../assets/img/sale7.jpeg" alt style="width: 100%;border-radius: 12px; margin-bottom: 3%;" />
            </a>
            <a  [routerLink]="['/product',14]" routerLinkActive="active">
                <img src="../../../assets/img/sale10.png" alt style="width: 100%;border-radius: 12px; margin-bottom: 3%;" />
            </a>
            <a  [routerLink]="['/product',13]" routerLinkActive="active">
                <img src="../../../assets/img/sale9.png" alt style="width: 100%;border-radius: 12px; margin-bottom: 3%;" />
            </a>

            <a  [routerLink]="['/product',5]" routerLinkActive="active">
                <img src="../../../assets/img/sale8.jpeg" alt style="width: 100%;border-radius: 12px; margin-bottom: 3%;" />
            </a>


        </div>
    </div>
</div>
<div class="info2 p-5">

    <div class="row" style="margin-bottom:3%">
       
            
        <div class="col-6">
            <a  [routerLink]="['/product',3]" routerLinkActive="active">
                <img src="../../../assets/img/sale12.jpeg" alt style="width: 100%;border-radius: 12px" />
            </a>
        </div>
        <div class="col-6">
            <a  [routerLink]="['/product',32]" routerLinkActive="active">
            <img src="../../../assets/img/sale11.jpeg" alt style="width: 100%;border-radius: 12px" />
        </a>
        </div>
  
    </div>

    <a href="https://www.thegioididong.com/tin-tuc/hinh-anh-render-cua-oppo-a55s-1397299">
        <div class="row" style="margin-bottom:3%">
            <div class="col-6">
                <a  [routerLink]="['/product',6]" routerLinkActive="active">
                    <img src="../../../assets/img/sale13.jpeg" alt style="width: 100%;border-radius: 12px" />
                </a>
            </div>
            <div class="col-6">
                <a  [routerLink]="['/product',31]" routerLinkActive="active">
                    <img src="../../../assets/img/sale15.jpeg" alt style="width: 100%;border-radius: 12px" />
                </a>
            </div>
        </div>
    </a>

</div>
<app-footer></app-footer>