<app-header></app-header>
<app-navbar></app-navbar>
<div>
    <img src="../../../assets/img/info53.jpeg" alt="Los Angeles" width="100%" height="500" />
</div>
<div class="my-3"><app-home-info></app-home-info></div>
<div class="info2 p-5">
    <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/mua-sam-ngon-bo-re-voi-loat-smartphone-gia-re-1397118">
        <div class="row" style="margin-bottom:3%">
            <div class="col-5">
                <img src="../../../assets/img/info51.jpeg" alt style="width: 100%;border-radius: 12px" />
            </div>
            <div class="col-7">
                <h5>Mua sắm Ngon - Bổ - Rẻ tháng 11 với loạt smartphone cũ giá rẻ dưới 2 triệu đồng, lại còn được ưu
                    đãi
                </h5>
                <p class="text-dark"> Bạn muốn mua sắm Ngon - Bổ - Rẻ trong tháng 11? Vậy thì bạn tìm đúng nơi rồi
                    đấy. Bài viết này
                    mình sẽ gợi ý cho bạn loạt smartphone cũ giá rẻ dưới 2 triệu đồng, đặc biệt còn được ưu đãi thêm
                    nên rất hời. Đảm bảo mua là không hối hận đâu nhé!</p>
                <p class="text-dark">Bật mí luôn mặc dù là máy cũ nhưng rất nhiều máy vẫn còn bảo hàng dài từ hãng
                    hoặc smart point cũng như ngoại hình còn khá mới. .</p>
                <button class="btn btn-warning">Xem thêm</button>
            </div>
        </div>
    </a>
    <a style="text-decoration: none" href="https://www.thegioididong.com/tin-tuc/hinh-anh-render-cua-oppo-a55s-1397299">
        <div class="row" style="margin-bottom:3%">
            <div class="col-5">
                <img src="../../../assets/img/info52.jpeg" alt style="width: 100%;border-radius: 12px" />
            </div>
            <div class="col-7">
                <h5>OPPO A55s lộ ảnh render đầu tiên: Dùng màn hình đục lỗ, mặt lưng có 3 camera, màu sắc trẻ trung
                    và còn gì nữa?
                </h5>
                <p class="text-dark"> OPPO được cho là sẽ sớm ra mắt một sản phẩm thuộc phân khúc giá rẻ có tên OPPO
                    A55s. Mẫu điện thoại OPPO mới đã từng lộ diện trên nền tảng đo điểm chuẩn Geekbench, mới nhất
                    trang 91mobiles đã đăng tải hình ảnh render OPPO A55</p>
                <p class="text-dark">Cụ thể, trang 91mobiles trích dẫn các nguồn tin trong ngành đã độc quyền đăng tải hình ảnh render OPPO A55s, cho chúng ta cái nhìn sơ bộ về thiết kế .</p>
                <button class="btn btn-warning">Xem thêm</button>
            </div>
        </div>
    </a>

</div>
<app-footer></app-footer>