<!-- ------ HEADER ----  -->
<div class="" style="
       padding: 0px;">
    <nav class="navbar navbar-expand-md  " style="background-color: #E9E9E9;padding: 0px;">
        <div class="container-fluid row">
            <div class="col-3"> <a href="/" class="navbar-brand" style="padding:0px"><img
                        src="../../../assets/img/logo-shop-dien-thoai-7.jpeg" class="w-75"></a>
            </div>
            <div class="col-3">
                <div class="about__box-content" style="color: #F37A14;">
                    <p class="mb-0 title"> <i class="fa fa-envelope" style="color: #F37A14; font-size: 25px;  margin-right: 5px;"></i>   <strong>smartpoint@gmail.com</strong></p>
                 
                </div>


            </div>
            <div class="col-2" style="padding: 0px;">
                <div class="about__box-content" style="color: #F37A14;">
                    <p class="mb-0 title" > <i class="fa fa-phone" style="color: #F37A14; font-size: 30px;"></i> Hotline</p>
                   <strong>1800.2097</strong>
                </div>
            </div>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div *ngIf="isLogin" class="col-2" style="padding: 0px; color: #F37A14;">
                <p class="mb-0 title text-center" style="color: #F37A14; font-size: 20px;">

                    <a appHover [color]="'blue'" [colorOut]="'#F37A14'" class="nav-link" style="color: #F37A14; font-size: 20px;" [routerLink]="['/profile']"
                        routerLinkActive="active">
                        <img src="https://picsum.photos/50/50" style="border-radius: 50%; margin-right:5spx">
                        {{user.userName}}
                    </a>
                </p>
            </div>
            <div *ngIf="isLogin" class="col-2" style="padding: 0px;color: #F37A14;">
                <p class="mb-0 title text-center" style="color: #F37A14; font-size: 20px;">

                    <a appHover [color]="'blue'" [colorOut]="'#F37A14'" class="nav-link" style="color: #F37A14; font-size: 20px;" [routerLink]="['/home']"
                        routerLinkActive="active" (click)="logout()">
                        <i class="fa fa-paper-plane" style="color: #F37A14; font-size: 25px;"></i> Đăng xuất
                    </a>
                </p>
            </div>
            <div *ngIf="!isLogin" class="col-2" style="padding: 0px;color: #F37A14;">
                <p class="mb-0 title text-center" style="color: #F37A14; font-size: 20px;">
                    <a appHover [color]="'blue'" [colorOut]="'#F37A14'" class="nav-link" style=" font-size: 20px;color: #F37A14;" [routerLink]="['/login']" routerLinkActive="active">
                        <i class="fa fa-chevron-right" style="color: #F37A14; font-size: 20px;"></i>
                        Đăng nhập
                    </a>
                </p>
            </div>
            <div *ngIf="!isLogin" class="col-2" style="padding: 0px;color: #F37A14;">
                <p class="mb-0 title" style="color: #F37A14; font-size: 20px;">
                    <a appHover [color]="'blue'" [colorOut]="'#F37A14'" class="nav-link" style=" font-size: 20px;color: #F37A14;" [routerLink]="['/register']"
                        routerLinkActive="active">
                        <i class="fa fa-user-plus"  style="color: #F37A14; font-size: 30px;"></i>
                        Đăng Kí
                    </a>
                </p>
            </div>


        </div>
    </nav>
</div>