<footer class="container-fluid py-3 px-5 " style="background-color: #E9E9E9;padding: 0px;">
    <div class="row">
        <div class="col-4 col-md">
            <h5> Liên hệ Smart point </h5>
            <ul class="contact-info-widget default" style=" padding: 0px;list-style: none">
                <li class="address">
                    <span class="oceanwp-contact-title"><i class="fa fa-map mr-5"></i>Địa chỉ: </span><span
                        class="oceanwp-contact-text"> 271 Võ Thành Trang, TPHCM</span>
                </li>
                <li class="phone">
                    <span class="oceanwp-contact-title"><i class="fa fa-phone mr-5"></i>Tổng đài: </span><span
                        class="oceanwp-contact-text">1900567</span>
                </li>
                <li class="email">
                    <span class="oceanwp-contact-title"><i class="fa fa-envelope mr-5"></i> Email:</span><span
                        class="oceanwp-contact-text"> fashion@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="col-4 col-md" style="padding-left: 200px;">
            <h5>Hỗ trợ -Dịch vụ</h5>
            <ul style=" padding: 0px; list-style: none;">
                <li><a>Bán hàng Online</a></li>
                <li><a>Chăm sóc Khách Hàng</a></li>
                <li><a>Hỗ Trợ Kỹ thuật</a></li>


            </ul>
        </div>
        <div class="col-4 col-md text-center">
            <img src="../../../assets/img/logo-shop-dien-thoai-7.jpeg" alt="" class="w-50">
            <img src="../../../assets/img/ft.png" alt="" class="w-50 mb-2">
        </div>
    </div>
</footer>