<section id="promotion" class="pt-1 pb-5 text-center ">
    <img src="../../../assets/img/bg3.png" class="mb-4">
    <div  style="padding: 0 5%;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="container">
                    <img src="../../../assets/img/promotion_1.png" alt style="width: 100%;" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="container">
                    <img src="../../../assets/img/promotion_2.png" alt style="width: 100%;" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="container">
                    <img src="../../../assets/img/promotion_3.jpg" alt style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</section>