<app-header></app-header>
<app-navbar></app-navbar>

<div class="detail">
    <div class="" ng-repeat="product in listProduct| filter: {maSP:idProduct}:true ">

        <div role="document">
            <!-- ==== title ===    -->
            <div class="title row border-bottom border-warning m-4">
                <div class="col-10">
                    <h2>Điện thoại {{product.tenSP}} - {{product.rom}} GB </h2>
                </div>
                <div class="col-2">
                    <i class="fa fa-star " style="color: #FFE51E"></i>
                    <i class="fa fa-star " style="color: #FFE51E"></i>
                    <i class="fa fa-star " style="color: #FFE51E"></i>
                    <i class="fa fa-star " style="color: #FFE51E"></i>
                    <i class="fa fa-star "></i>
                    /4 sao
                </div>
            </div>
            <div class="content row my-3" style="padding: 0 5%;">
                <div class="col-6">
                    <div class="text-center">
                        <img src="{{product.hinhAnh}}" style=" max-width: 100%; height: 489px " />
                    </div>
                    <div class="my-5 mx-3">
                        <h3 class="text-danger "> Thông số kỹ thuật</h3>
                        <table class="table " style="font-size:18px"> 
                            <tr >
                                <th> Màn Hình </th>
                                <td>{{product.manHinh}} </td>
                            </tr>
                            <tr>
                                <th> Hệ điều hành</th>
                                <td>{{product.heDieuHanh}} </td>
                            </tr>
                            <tr>
                                <th> Camera Trước</th>
                                <td>{{product.cameraTruoc}} </td>
                            </tr>
                            <tr>
                                <th> Camera Sau </th>
                                <td>{{product.cameraSau}} </td>
                            </tr>
                            <tr>
                                <th>Ram </th>
                                <td>{{product.ram}} GB </td>
                            </tr>
                            <tr>
                                <th> Dung lượng </th>
                                <td>{{product.rom}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-6">
                    <div class="info">
                        <span class="text-danger h2">{{product.giaBan | number}} VND</span>
                        <span style="text-decoration: line-through;"> {{product.giaBan*100/(100-product.giamGia) | number }}
                            VND</span>
                        <p style="font-size: 13px;">Trả góp chỉ từ
                            <b>3.088.000 vnd/tháng</b>
                        </p>
                        <h6>Màu sắc :
                            <button type="button" class="btn btn-outline-dark" style="margin-right:10px"></button>
                            <button type="button" class="btn btn-dark" style="margin-right:10px"></button>
                            <button type="button" class="btn btn-primary" style="margin-right:10px"></button>
                        </h6>
                        <div class="card">
                            <div class="card-header"><span>Ưu đãi thêm - áp dụng đến 30/12 </span></div>
                            <ul style="list-style:none ; padding:2%">
                                <li><i class="fas fa-check text-success"> </i>
                                    &ensp; Tặng gói iCloud 50GB miễn phí 3 tháng
                                </li>
                                <li><i class="fas fa-check text-success"></i>
                                    &ensp; Thu cũ đổi mới trợ giá 20% đến 3 triệu

                                </li>
                                <li><i class="fas fa-check text-success"></i>
                                    &ensp; Tặng bảo hành 2 năm
                                </li>
                                <li><i class="fas fa-check text-success"></i>
                                    &ensp; Tặng eSim Thần Tám 79 Itel 1T Data khủng 90GB
                                </li>
                                <li><i class="fas fa-check text-success"></i>
                                    &ensp; Giảm sốc 50% cho gói bảo hành vàng chỉ từ 550.000đ
                                </li>
                            </ul>
                        </div>
                        <div class="paymoment my-3">
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label h6" for="exampleRadios1">
                                    Thanh toán tiền mặt
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label h6" for="exampleRadios2">
                                    Thanh toán internet-banking
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                    value="option3">
                                <label class="form-check-label h6" for="exampleRadios3">
                                    Thanh toán VNPAY-QR
                                </label>
                            </div>
                        </div>
                        <a class="btn btn-danger w-100" [routerLink]="['/checkout',product.maSP]" routerLinkActive="active">
                            <h5 class="m-0"> MUA NGAY </h5> <small> Giao hàng miễn phí hoặc nhận tại shop </small>
                        </a>
                    </div>
                    <div class="baohanh my-5 mx-3">

                        <em class="orange h5 text-danger"><strong> <i class="fas fa-tools"></i> &ensp; Chính sách bảo
                                hành tại Smart Point.</strong></em>
                        <ul>
                            <li>Với phương châm “Quyền lợi của Khách hàng là quan trọng nhất”, tất cả các sản phẩm
                                mua tại Hệ thống FPTShop trên toàn quốc và tại website đều <strong>được áp dụng chính
                                    sách bảo
                                    hành theo đúng quy định của Hãng.</strong> </li>
                            <li>ĐẶC BIỆT, đối với sản phẩm là Điện thoại di động, Máy tính bảng, Máy tính xách tay,
                                Đồng hồ, Máy in và 1 số phụ kiện có điện khác, Khách hàng được hưởng <strong>chính
                                    sách riêng của Shop:</strong></li>
                            <li> Đổi trả hoàn toàn miễn phí trong 7 ngày dùng thử</li>
                            <li> Bảo hành Màn hình 4 tháng </li>
                            <li> Bảo hành Pin 6 tháng </li>
                        </ul>

                        <div class="policy-title text-primary" style="text-align: center;">“MIỄN PHÍ 1 ĐỔI 1 NẾU CÓ LỖI
                            PHẦN CỨNG
                            TRONG VÒNG 30 NGÀY ĐẦU TIÊN MUA HÀNG”.</div>



                    </div>


                </div>
            </div>



        </div>
    </div>




</div>
<app-footer></app-footer>