<app-header></app-header>
<app-navbar></app-navbar>
<app-banner></app-banner>

<div class="allPr " style="padding: 0 5%;">

    <div class="p-1 text-center "><img src="../../../assets/img/bg (2).png" class="mb-4" alt=""> </div>
    <nav class="navbar">
        <div class="form-inline row " style="margin-left: 80%;">
            <div class="col-12">  <a  class="text-light btn btn-warning" [routerLink]="['/allProduct']" routerLinkActive="active"> Xem thêm sản phẩm > </a></div>
      
          
            
        </div>
    </nav>
    <div class="row " id="best-smartphone-container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3 p-2 mb-3"
            *ngFor="let product of products.slice(0,4)">
            <div class="container" style="padding: 0px;">
                <div class="card  p-1 " style="box-shadow: 0px -1px 19px 1px #a3a7abcc;">

                    <img class="card-img-top mt-2" alt="Card image" style="width:  100%; height: 250px"
                        src="{{product.hinhAnh}}" />
                    <div class="card-body " style="
            padding: 14px">
                        <h4 class="card-title text-center">{{product.tenSP}}</h4>
                        <h6 class="text-danger"> Giảm giá: {{product.giamGia }} % </h6>
                        <h6 class="text-info"> Dung lượng : {{product.rom }} GB </h6>
                        <h6> Giá sale: {{product.giaBan | number}} VND </h6>

                        <p> <i>Thương hiệu: <span class="text-primary">{{product.thuongHieu}}</span></i> </p>
                        <i> Mã sản phẩm: {{product.maSP}} </i>
                        <div>
                            <i class="fa fa-star " style="color: #FFE51E"></i>
                            <i class="fa fa-star " style="color: #FFE51E"></i>
                            <i class="fa fa-star " style="color: #FFE51E"></i>
                            <i class="fa fa-star " style="color: #FFE51E"></i>
                            <i class="fa fa-star "></i>
                        </div>
                        <div>
                            <a class="btn btn-warning mt-2 btn-detail" style="font-size: 15px;margin-right: 12px;" [routerLink]="['/product',product.maSP]" routerLinkActive="active" >Chi tiết </a>
                            <a class="btn btn-success mt-2 btn-buy " style="font-size: 15px" [routerLink]="['/checkout',product.maSP]" routerLinkActive="active">
                                <i class="fa fa-shopping-cart"></i>
                                Mua ngay
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center"> <img src="../../../assets/img/bg4.png" class="mb-4"></div>
<app-home-info></app-home-info>

<app-sale></app-sale>
<app-footer></app-footer>